@{
    ViewBag.NgApp = "AccountAdmin";
    ViewBag.NgController = "AccountAdminController";
}

<table class="table" ng-show="accounts && accounts.length">
    <thead>
        <tr>
            <td>Username</td>
            <td>Email</td>
            <td>Role</td>
            <td>Password</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="account in accounts">
            <td>{{account.userName}}</td>
            <td>
                <input type="text" ng-model="account.email" class="form-control" />
            </td>
            <td>
                <select ng-model="account.role" ng-disabled="account.userName === '@WikiDown.Security.ArticleAccessManager.RootAccountName'"
                        class="form-control">
                    @RoleSelectOptions()
                </select>
            </td>
            <td>
                <input type="text" ng-model="account.password" class="form-control" />
            </td>
            <td>
                <button ng-click="saveAccount(account)" ng-disabled="!account.userName" class="btn btn-primary">Save</button>
                <button ng-click="deleteAccount(account)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot class="bg-info">
        <tr>
            <td colspan="4">Add Account</td>
        </tr>
        <tr>
            <td>
                <input type="text" ng-model="addAccount.userName" class="form-control" />
            </td>
            <td>
                <input type="text" ng-model="addAccount.email" class="form-control" />
            </td>
            <td>
                <select ng-model="addAccount.role" class="form-control">
                    @RoleSelectOptions()
                </select>
            </td>
            <td>
                <input type="text" ng-model="addAccount.password" class="form-control" />
            </td>
            <td>
                <button ng-click="saveAccount(addAccount)" ng-disabled="!addAccount.userName || !addAccount.password"
                        class="btn btn-primary">Save</button>
            </td>
        </tr>
    </tfoot>
</table>

@helper RoleSelectOptions()
{
    <option value="">-- Choose a role --</option>
    <option value="@WikiDown.Security.ArticleAccessLevel.Editor">
        @WikiDown.Security.ArticleAccessLevel.Editor
    </option>
    <option value="@WikiDown.Security.ArticleAccessLevel.SuperUser">
        @WikiDown.Security.ArticleAccessLevel.SuperUser
    </option>
    <option value="@WikiDown.Security.ArticleAccessLevel.Admin">
        @WikiDown.Security.ArticleAccessLevel.Admin
    </option>
    <option value="@WikiDown.Security.ArticleAccessLevel.Root">
        @WikiDown.Security.ArticleAccessLevel.Root
    </option>
}

@section Js {
    @Html.Partial("_AngularScripts")

    @Html.BundledJs("account-admin")
}