@model AuthLoginViewModel

@* TODO: http://getbootstrap.com/examples/signin/ *@

<h1>Login</h1>

@using (Html.BeginRouteForm(RouteNames.Login))
{
    <div class="form-group">
        @Html.TextBoxFor(x => x.Username)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Password, new { type = "password" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.IsPersistent) Remember me
        </label>
    </div>

    <div class="form-group">
        <button type="submit">Login</button>
    </div>

    if (Html.HasValidationMessage("model"))
    {
        <div class="alert alert-danger" role="alert">
            @Html.ValidationMessage("model")
        </div>
    }

    @Html.AntiForgeryToken()
}