@using WikiDown.Security
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        @Html.SeoHtmlTitle()

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
        <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />
        
        @Html.SeoMetaNoIndex()
        @Html.SeoMetaDescription()
        @Html.SeoMetaKeywords()
        
        <meta name="author" content="Seb Nilsson" />
        
        @Html.Canonical(Url.Absolute(this.Seo.CanonicalUrl))

        <meta name="application-name" content="@SeoHelper.BaseTitle" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="~/apple-touch-icon-144x144-precomposed.png" />
        
        @*@Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize")*@
        @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap")
        @*@Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme")*@

        @RenderSection("Css", @<text>@Html.BundledCss("site")</text>)
        
        @RenderSection("Head", false)
        
        <!--[if lt IE 9]>
            @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv")
            @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond")
        <![endif]-->

        <script type="text/javascript">
            //var _gaq = _gaq || []; _gaq.push(["_setAccount", "UA-XXXXXXXXX-X"]), _gaq.push(["_trackPageview"]), function () { var n = document.createElement("script"), t; n.type = "text/javascript", n.async = !0, n.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js", t = document.getElementsByTagName("script")[0], t.parentNode.insertBefore(n, t) }()
        </script>
    </head>
    <body class="@Seo.BodyClass" ng-app="@ViewBag.NgApp" ng-init="@ViewBag.NgInit">
        <script type="text/javascript">
            try { document.body.parentNode.className = 'js'; } catch (e) { }
        </script>
        <div id="wrapper">
            @Html.Partial("_MessageBox")
            
            @* TODO: Pull-right on whole section, not multiple parts *@
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        @RenderSection("Navbar", false)

                        @SearchForm()

                        @UserInfo()
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.WikiList()">
                                    <span class="glyphicon glyphicon-list-alt"></span> All Articles
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div id="main" ng-controller="@ViewBag.NgController">
                @RenderBody()
            </div>
        </div>

        <footer class="footer container">
            <div class="panel panel-info">
                <div class="panel-body small text-info text-right">
                    WikiDown - created by <a href="http://twitter.com/sebnilsson">Seb Nilsson</a>
                </div>
            </div>
        </footer>

        @RenderSection("BodyBottomContent", false)

        @Html.JavascriptConditional("//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery")
        @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap")

        @RenderSection("Js", @<text>@Html.BundledJs("site")</text>)
    </body>
</html>

@helper SearchForm() {
    <div class="navbar-right">
        @using (Html.BeginRouteForm(RouteNames.WikiSearch, FormMethod.Post, new { @class = "navbar-form " }))
        {
            <div class="input-group">
                <div class="form-group">
                    @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Search articles" })
                </div>

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" title="Search">
                        <span class="glyphicon glyphicon-search">
                            <span class="sr-only">Search</span>
                        </span>
                    </button>
                </span>
            </div>
        }
    </div>
}

@helper UserInfo() {
    <ul class="nav navbar-nav navbar-right">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> @User.Identity.Name <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole(ArticleAccessHelper.Admin))
                    {
                        <li>
                            <a href="@Url.AccountAdmin()" class="">Account Admin</a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Logout()" class="">Logout</a>
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Login()">
                    <span class="glyphicon glyphicon-user"></span> Login
                </a>
            </li>
        }
    </ul>
}