<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        @Html.SeoHtmlTitle()

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
        <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />

        @Html.SeoMetaNoIndex()
        @Html.SeoMetaDescription()
        @Html.SeoMetaKeywords()

        <meta name="author" content="Seb Nilsson" />

        @Html.Canonical(Url.Absolute(this.Seo.CanonicalUrl))

        <meta name="application-name" content="@SeoHelper.BaseTitle" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="~/apple-touch-icon-144x144-precomposed.png" />

        @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap")

        @RenderSection("Css", @<text>@Html.BundledCss("site")</text>)

        @RenderSection("Head", false)

        <!--[if lt IE 9]>
            @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv")
            @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond")
        <![endif]-->

        <script type="text/javascript">
            //var _gaq = _gaq || []; _gaq.push(["_setAccount", "UA-XXXXXXXXX-X"]), _gaq.push(["_trackPageview"]), function () { var n = document.createElement("script"), t; n.type = "text/javascript", n.async = !0, n.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js", t = document.getElementsByTagName("script")[0], t.parentNode.insertBefore(n, t) }()
        </script>
    </head>
    <body class="@Seo.BodyClass" ng-app="@ViewBag.NgApp" ng-init="@ViewBag.NgInit">
        <script type="text/javascript">
            try { document.body.parentNode.className = 'js'; } catch (e) { }
        </script>
        <div id="wrapper">
            @Html.Partial("_MessageBox")

            <header>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            @if (!string.IsNullOrWhiteSpace(AppSettings.SiteHeader))
                            {
                                <a class="navbar-brand" href="@Url.Empty()" title="@AppSettings.SiteHeaderTitle">
                                    @AppSettings.SiteHeader
                                </a>
                            }

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse" data-target="#navbar-collapse-content">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-collapse-content">
                            <div class="navbar-right">
                                @Html.Partial("_HeaderNavbar")
                            </div>

                            <div class="navbar-left">
                                @RenderSection("Navbar", false)
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div id="main" class="container" ng-controller="@ViewBag.NgController">
                @RenderBody()
            </div>
        </div>

        <footer class="footer container">
            <div class="panel panel-info">
                <div class="panel-body text-muted text-right small">
                    Powered by WikiDown - created by <a href="http://twitter.com/sebnilsson">Seb Nilsson</a>
                </div>
            </div>
        </footer>

        @RenderSection("BodyBottomContent", false)

        @Html.JavascriptConditional("//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery")
        @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap")
        @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment")
        @Html.Javascript("//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.7/jquery.devbridge-autocomplete.min.js")

        @RenderSection("Js", @<text>@Html.BundledJs("site")</text>)
    </body>
</html>