@using WikiDown.Security
@model WikiArticleViewModelBase

<ul class="nav navbar-nav">
    @NavTab("Article", Url.WikiArticle(Model.DisplayArticleId, Model.ArticleRevisionDate),
        WikiArticleViewModelBase.HeaderTab.Article, glyph: "glyphicon-file")
    @NavTab("Info", Url.WikiArticleInfo(Model.DisplayArticleId),
        WikiArticleViewModelBase.HeaderTab.Info, glyph: "glyphicon-info-sign")

    @if (User.IsInRole(ArticleAccessHelper.Editor))
    {
        @NavTab("Edit", Url.WikiArticleEdit(Model.DisplayArticleId, Model.ArticleRevisionDate),
            WikiArticleViewModelBase.HeaderTab.Edit, glyph: "glyphicon-pencil")
    }
</ul>

@helper NavTab(string title, string url, WikiArticleViewModelBase.HeaderTab tab, string glyph = null) {
    <li class="@(tab == Model.ActiveTab ? "active" : null)">
        <a href="@url">
            @if (!string.IsNullOrWhiteSpace(glyph))
            {
                <span class="glyphicon @glyph"></span>
            }
            @title
        </a>
    </li>
}