@model WikiArticleViewModel

@section Navbar {
    @Html.ArticleNavigation(Model)
}

<div class="page-header">
    <h1>@Model.PageTitle</h1>
    
    @if (Model.ArticleRedirectFrom.HasValue && Model.ShouldRedirect)
    {
        <div class="breadcrumb text-info">
            redirected from:
            <em>
                <a href="@Url.WikiArticle(Model.ArticleRedirectFrom, redirect: false)">@Model.ArticleRedirectFrom.Title</a>
            </em>
        </div>
    }
</div>

@if (Model.ArticleRevisionDate.HasValue)
{
    <div id="revision-info" class="article-meta">
        Revision from:
        <span class="utc-time">@Model.ArticleRevisionDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</span>
        - <a href="@Url.WikiArticle(Model.ArticleSlug)">Go to latest</a>
    </div>
}

<div class="clearfix"></div>

<article id="content">
    @if (Model.HasArticle)
    {
        @Model.HtmlContent

        if (Model.ArticleTags.Any())
        {
            <footer class="panel">
                <small class="glyphicon glyphicon-tags"></small>
                &nbsp;
                @foreach (var tag in Model.ArticleTags)
                {
                    <span class="label label-default">@tag</span>
                }
            </footer>
        }
    }
    else
    {
        @Html.Partial("_NoArticle")
    }
</article>