@model WikiArticleViewModel

@section Navbar {
    @Html.ArticleNavigation(Model)
}

<h1>@Model.PageTitle</h1>

@if (Model.ArticleRedirectFrom.HasValue && Model.ShouldRedirect)
{
    <div class="breadcrumb">
        redirected from:
        <em>
            <a href="@Url.WikiArticle(Model.ArticleRedirectFrom, redirect: false)">@Model.ArticleRedirectFrom.Title</a>
        </em>
    </div>
}

@if (Model.ArticleRevisionDate.HasValue)
{
    <div id="revision-info" class="article-meta">
        Revision from: @Model.ArticleRevisionDate.Value.ToString("yyyy-MM-dd HH:mm:ss")
        - <a href="@Url.WikiArticle(Model.ArticleSlug)">Go to latest</a>
    </div>
}

<div class="clearfix"></div>

<div id="content" class="container">
    @if (Model.HasArticle)
    {
        @Html.Raw(Model.HtmlContent)
    }
    else
    {
        @Html.Partial("_NoArticle")
    }
</div>