@model WikiArticleEditViewModel
@{
    ViewBag.NgApp = "WikiEdit";
    //ViewBag.NgController = "EditController";
    
    string isEditMode = (!Model.IsCreateMode).ToString().ToLowerInvariant();
    ViewBag.NgInit = string.Format("articleSlug = '{0}'; isEditMode = {1};", Model.ArticleSlug, isEditMode);
}

@section Navbar {
    @Html.ArticleNavigation(Model)
}

<h1>
    <span ng-cloak>{{isEditMode ? 'Edit' : 'Create'}}:</span>
    @Model.PageTitle
</h1>

<ul class="nav nav-tabs" role="tablist" ng-show="isEditMode">
    <li ui-sref-active="active">
        <a ui-sref="edit">Edit</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="history">History</a>
    </li>
    <li ui-sref-active="active" class="pull-right">
        <a ui-sref="admin">Admin</a>
    </li>
    <li ui-sref-active="active" class="pull-right">
        <a ui-sref="meta">Meta</a>
    </li>
</ul>

<div ui-view></div>

@section Css {
    @Html.BundledCss("wiki-edit")

    @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2")
    @*@Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap")*@
}

@section Js {
    @Html.Partial("_AngularScripts")

    @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router")

    @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2")

    @Html.BundledJs("wiki-edit")
}