@model WikiArticleEditViewModel
@{
    ViewBag.NgApp = "WikiEdit";
    
    ViewBag.NgInit = string.Format("articleSlug = '{0}';", Model.ArticleSlug);
}

@section Navbar {
    @Html.ArticleNavigation(Model)
}

<h1>
    @Model.PageTitle
    <small>
        Edit:
        <small class="glyphicon glyphicon-pencil"></small>
    </small>
    
</h1>

<ul class="nav nav-tabs" role="tablist">
    <li ng-class="{'active': ('edit' | includedByState)}">
        <a ui-sref="edit">Edit</a>
    </li>
    <li ng-class="{'active': ('history' | includedByState)}">
        <a ui-sref="history">History</a>
    </li>
    <li ng-class="{'active': ('admin' | includedByState)}" class="pull-right">
        <a ui-sref="admin">Admin</a>
    </li>
    <li ng-class="{'active': ('meta' | includedByState)}" class="pull-right">
        <a ui-sref="meta">Meta</a>
    </li>
</ul>

<div ui-view></div>

@section Css {
    @Html.BundledCss("wiki-edit")

    @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core")
    @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.bootstrap")
    @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome")
    @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2")
    @Html.StylesheetConditional("//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap")
}

@section Js {
    @Html.Partial("_AngularScripts")

    @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router")
    @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify")
    @Html.JavascriptConditional("//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2")

    @Html.Javascript("~/assets/wikidown/index.js")

    @Html.BundledJs("wiki-edit")
}