@model WikiArticleInfoViewModel
@{
    bool hasRevisions = Model.Revisions.Any();
    bool hasRedirects = Model.Redirects.Any();
    int colWidth = (hasRevisions && hasRedirects) ? 6 : 12;
}

@section Navbar {
    @Html.ArticleNavigation(Model)
}

<div class="page-header">
    <h1>
        @Model.PageTitle
        <small>
            Info
            <small class="glyphicon glyphicon-info-sign"></small>
        </small>
    </h1>
</div>

@if (hasRevisions || hasRedirects)
{
    <div class="row">
        @if (hasRevisions)
        {
            <div id="article-revisions" class="col-sm-@colWidth ">
                <h2>
                    Revisions <small class="glyphicon glyphicon-time"></small>
                </h2>

                <ul class="list-group">
                    @foreach (var revision in Model.Revisions)
                    {
                        <li class="list-group-item @(revision.IsActive ? "list-group-item-info" : null)">
                            <div class="btn btn-link">
                                @RevisionLink(revision.Date, revision.DateFormatted)
                            </div>
                            
                            @if (!string.IsNullOrWhiteSpace(revision.UserName))
                            {
                                <small>
                                    <i class="glyphicon glyphicon-user"></i> @revision.UserName
                                </small>
                            }
                        </li>
                    }
                </ul>
            </div>
        }

        @if (hasRedirects)
        {
            <div class="col-sm-@colWidth">
                <h2>
                    Redirects <small class="glyphicon glyphicon-share-alt"></small>
                </h2>

                <div class="content">
                    @foreach (var redirect in Model.Redirects)
                    {
                        <div class="redirect">
                            <a href="@Url.WikiArticle(redirect.Key, redirect: false)">@redirect.Value</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    @*if (hasRevisions)
    {
        <div class="panel panel-default" hidden>
            <div class="panel-heading">
                <h2 class="panel-title">Revision preview</h2>
            </div>
            <div id="article-revision-preview-content" class="panel-body"></div>
        </div>
    }*@
}

@if (Model.Tags.Any())
{
    <div class="row container">
        <h2>
            Tags <small class="glyphicon glyphicon-tags"></small>
        </h2>

        @foreach (var tag in Model.Tags)
        {
            <span class="label label-default">@tag</span>
        }
    </div>
}

@helper RevisionLink(ArticleRevisionDate articleRevisionDate, string dateFormatted) {
    <a href="@Url.WikiArticle(Model.ArticleSlug, articleRevisionDate)" class="utc-time">
        @dateFormatted
    </a>
}

@section Js {
    @Html.BundledJs("info")
}