@model WikiListViewModel

<h1 ﻿class="page-header">Latest changed articles</h1>

@if (Model.LatestChangedArticles.Any())
{
    <ul class="list-group">
        @foreach (var article in Model.LatestChangedArticles)
        {
            <li class="list-group-item">
                <div class="list-group-item-heading">
                    <strong>
                        <a href="@Url.WikiArticle(article.ArticleId)" class="list-group-item-heading">
                            @article.ArticleTitle
                        </a>
                    </strong>
                </div>

                <div class="list-group-item-text">
                    @if (!string.IsNullOrWhiteSpace(article.LastPublishedAtFormatted))
                    {
                        <small>
                            <i class="glyphicon glyphicon-time"></i>
                            <a href="@Url.WikiArticle(article.ArticleId, article.CreatedAt)">@article.LastPublishedAtFormatted</a>
                        </small>
                    }

                    @if (!string.IsNullOrWhiteSpace(article.LastPublishedAtFormatted) && !string.IsNullOrWhiteSpace(article.CreatedByUserName))
                    {
                        @:&nbsp;
                    }

                    @if (!string.IsNullOrWhiteSpace(article.CreatedByUserName))
                    {
                        <small>
                            <i class="glyphicon glyphicon-user"></i> @article.CreatedByUserName
                        </small>
                    }
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.WikiArticleEdit(article.ArticleId)" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i>
                            Edit
                        </a>
                    }
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="bg-warning">
        No articles created yet
    </div>
}

@if (User.Identity.IsAuthenticated && Model.Drafts.Any())
{
    <h2>Draft</h2>

    <ul class="list-group">
        @foreach (var draft in Model.Drafts)
        {
            <li class="list-group-item">
                <a href="@Url.WikiArticleEdit(draft.Key)" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Edit
                </a>
                <a href="@Url.WikiArticle(draft.Key)">@draft.Value</a>
            </li>
        }
    </ul>
}