@{
    const string ngDisabled = "(articleAccess && !articleAccess.$resolved) || (articleAccessSaving && !articleAccessSaving.$resolved)"
        + " || (articleAccessDeleting && !articleAccessDeleting.$resolved)";
}
<h2>
    Security
    <small class="glyphicon glyphicon-cog"></small>
</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group col-sm-4">
            <label for="can-read">Can Read</label>
            @CanDoSelect("can-read", "canRead", ngDisabled)
        </div>

        <div class="form-group col-sm-4">
            <label for="can-edit">Can Edit</label>
            @CanDoSelect("can-edit", "canEdit", ngDisabled)
        </div>

        <div class="form-group col-sm-4">
            <label for="can-admin">Can Admin</label>
            @CanDoSelect("can-admin", "canAdmin", ngDisabled)
        </div>
    </div>
    <div class="panel-footer">
        <button ng-click="saveArticleAccess()" ng-disabled="@ngDisabled" class="btn btn-primary">Save</button>
        <small>
            <button ng-click="setDefaultArticleAccess()" ng-disabled="@ngDisabled" class="btn btn-link">Set defaults</button>
        </small>
        <span loading="articleAccessSaving"></span>
    </div>
</div>

<h2>
    Delete
    <small class="glyphicon glyphicon-trash"></small>
</h2>

<button ng-click="deleteArticle()" ng-disabled="@ngDisabled" class="btn btn-danger">Delete Article</button>
<span loading="articleAccessDeleting"></span>

@helper CanDoSelect(string id, string modelName, string ngDisabled)
{
    <select id="@id" ng-model="articleAccess.@modelName" ng-options="role.id as role.text for role in roleOptions"
            ng-disabled="@ngDisabled" ng-change="articleAccessChange()" class="form-control"></select>
}